{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="section-top">
    <!--    <img src="{% static 'img/slider2_1.jpg' %}" class="img-responsive">-->

    <!-- Slider main container -->
    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide"><img src="{% static 'img/slider2_1.jpg' %}" class="img-responsive"></div>
            <div class="swiper-slide"><img src="{% static 'img/slider3_2.jpg' %}" class="img-responsive"></div>
            <div class="swiper-slide"><img src="{% static 'img/slider4_3.jpg' %}" class="img-responsive"></div>
            <div class="swiper-slide"><img src="{% static 'img/slider5_4.jpg' %}" class="img-responsive"></div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- If we need scrollbar -->
<!--        <div class="swiper-scrollbar"></div>-->
    </div>


</div>
<div class="section section1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-center">
                    Новые поступления
                </h1>
            </div>
            {% for product_image in products_images %}
            {% include 'landing/product_item.html' %}
            {% endfor %}
        </div>

    </div>
</div>
<div class="section section-delivery">
    <div>
        <h3>Free shipping</h3>
    </div>
</div>
<div class="section section2 phones-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-center">
                    Телефоны
                </h1>
            </div>

            {% for product_image in products_images_phones %}
            {% include 'landing/product_item.html' %}
            {% endfor %}
        </div>

    </div>
</div>
<div class="section section3 laptops-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-center">
                    Ноутбуки
                </h1>
            </div>

            {% for product_image in products_images_laptops %}
            {% include 'landing/product_item.html' %}
            {% endfor %}
        </div>

    </div>
</div>
{% endblock %}